<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    <div class="flexbox">
      <div class="proholic">
        <h1><a href="" target="_blank">Proholic I.E.</a></h1>
      </div>
      <div class="proholic-1">
        <h1><a href="index.html" style="border-bottom: none">Home</a></h1>
      </div>
      <div class="proholic-2">
        <h1><a href="about.html">About</a></h1>
      </div>
      <div class="proholic-3">
        <h1><a href="gallery.html">Gallery</a></h1>
      </div>
      <div class="proholic-4">
        <h1><a href="blog.html" style="border-bottom: 1px solid #ec5c5e">Blog</a></h1>
      </div>
      <div class="proholic-5">
        <h1><a href="contact.html">Contact</a></h1>
      </div>
      <div class="hh-button">
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="ss-button">
          <i class="fas fa-search" style="text-align: center;"></i>
        </button>
      </div>
    </div>
    <div style="background-image: url('../../images/Demo-pro-img2.5.JPG')" class="middle-message">
      <h1>Latest Blog</h1>
      <h2><a href="index.html" class="home-hov"><i class="fas fa-home"></i>Home</a> > <span class="home-color">Blog</span></h2>
    </div>   
    <div class="blog-container">
      <div class="b-photography" style="background-image: url(../../images/IMG_5618.JPG)">
        <button>PHOTOGRAPHY</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body Shape Men Find Most<br>Attractive</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5619.JPG)">
        <button>CAMERA</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5620.JPG)">
        <button>COUNTRY</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5621.JPG)">
        <button>CAMERA</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5622.JPG)">
        <button>TIPS</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
      <div class="b-photography" style="background-image: url(../../images/IMG_5623.JPG)">
        <button>PHOTOGRAPHY</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body Shape Men Find Most<br>Attractive</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5624.JPG)">
        <button>COUNTRY</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
      <div class="b-photography" style="background-image: url(../../images/IMG_5625.JPG)">
        <button>CAMERA</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body Shape Men Find Most<br>Attractive</h2>
      </div>
      <div class="blo-photography" style="background-image: url(../../images/IMG_5626.JPG)">
        <button>PHOTOGRAPHY</button>
        <p>May 19, 2019 | 3 Comment</p>
        <h2>The Female Body<br>Shape Men Find</h2>
      </div>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <div class="modal-body">
            <input type="text" class="search" placeholder="Search and hit enter_">
            <button type="button" class="btn btn-primary">SEARCH</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>