<footer class="footer-container">
  <div class="insta-foot">
    <h1>Follow Instagram</h1>
  </div>
  <div class="insta-account">
    <h2>@imeitaro28</h2>
  </div>
  
   <div class="insta-slide">
    <div class="insta-pic">
      <div class="insta-photo" style="background-image: url('../../images/IMG_5329.jpg')"></div>
      <div class="insta-photo" style="background-image: url('../../images/IMG_5328.jpg')"></div>
      <div class="insta-photo" style="background-image: url('../../images/IMG_5330.jpg')"></div>
      <div class="insta-photo" style="background-image: url('../../images/IMG_5331.jpg')"></div>
      <div class="insta-photo" style="background-image: url('../../images/IMG_5332.jpg')"></div>
      <div class="insta-photo" style="background-image: url('../../images/IMG_5333.jpg')"></div>
    </div>  
  </div> 
  <div class="f-icons">
   <h3><a href="" target="_blank" class="foot-last">Proholic I.E.</a></h3>
   <a href="https://www.facebook.com/" class="foot-icons">
     <i class="fab fa-facebook-f"></i>
   </a>
   <a href="https://twitter.com/?lang=ja" class="foot-icons">
     <i class="fab fa-twitter"></i>
   </a>
   <a href="https://www.instagram.com/?hl=ja" class="foot-icons">
     <i class="fab fa-instagram"></i>
   </a>
   <a href="https://www.pinterest.jp/" class="foot-icons">
     <i class="fab fa-pinterest"></i>
   </a>
  </div>
  <div id="page_top"><a href="#"></a></div>
</footer>