<header class="header-container">
  <div class="flexbox">
    <div class="proholic">
      <h1><a href="" target="_blank">Proholic I.E.</a></h1>
    </div>
    <div class="proholic-1">
      <h1><a href="index.html">Home</a></h1>
    </div>
    <div class="proholic-2">
      <h1><a href="about.html" >About</a></h1>
    </div>
    <div class="proholic-3">
      <h1><a href="gallery.html">Gallery</a></h1>
    </div>
    <div class="proholic-4">
      <h1><a href="blog.html">Blog</a></h1>
    </div>
    <div class="proholic-5">
      <h1><a href="contact.html">Contact</a></h1>
    </div>
    <div class="hh-button">
     <button type="button" data-toggle="modal" data-target="#exampleModal" class="ss-button">
      <i class="fas fa-search" style="text-align: center;"></i>
     </button>
    </div>
  </div>
  <div id="hero-slider">
   <div class="hero-slider">  
    <div style="background-image: url('../../images/Demo-pro-img1.JPG')" class="slide-message">
      <h2>Hello<br>I'm Eitaro</h2>
      <p class="intro">I am a university student of Hosei, GIS. And, doing Liberal Arts Studies.</p>
      <button class="quote">Get A Quote</button>
      <p class="email">eitaro.hosei@fpt</p>
    </div>  
   </div>   
   <div class="hero-slider">
    <div class="row hero-content text-center">
      <div style="background-image: url('../../images/Demo-pro-img2.JPG')" class="slide-message">
        <h2>Hello<br>I'm Eitaro</h2>
        <p class="intro">I am a university student of Hosei, GIS. And, doing Liberal Arts Studies.</p>
        <button class="quote">Get A Quote</button>
        <p class="email">eitaro.hosei@fpt</p>
      </div>
    </div> 
   </div>    
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
          <input type="text" class="search" placeholder="Search and hit enter_">
          <button type="button" class="btn btn-primary">SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</header>